---
pagination:
  data: schemas
  size: 1
  alias: schemaName
permalink: "{{ schemaName | slug }}/"
layout: base-layout.liquid
renderData:
  title: "{{ schemaName }} | CTZN.network"
---

{% assign schema = schemas[schemaName] %}

<div class="px-4 lg:flex flex-row-reverse">
  <div class="flex-1 min-w-0">
    <h1 class="font-semibold mb-3 text-4xl sm:text-6xl">
      {{schema.title}}
      <span class="text-2xl">{{schema.type}}</span>
    </h1>
    <p class="text-xl mb-4 font-mono">{{schema.id}}</p>
    <p class="text-xl mb-4">{{schema.description}}</p>

    <pre class="bg-gray-100 rounded-xl px-6 py-4 overflow-x-auto max-w-full">{{ schema | prettyjson }}</pre>
  </div>
  <div class="pb-2 pr-6 pt-6 lg:pt-2">
    <h2 class="font-semibold text-lg mb-2">Schemas</h2>
    {% for otherSchema in schemas %}
      <div class="inline-block mr-2 lg:block">
        <a
          href="/{{ otherSchema[0] }}"
          class="inline-block font-mono text-blue-600 px-4 py-4 rounded bg-gray-50 mb-2 hover:underline"
        >{{ otherSchema[0] }}</a>
      </div>
    {% endfor %}
  </div>
</div>